@import "header.scss";

.card {
  background-color: #fff;
  color: $fcolor;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 35px;
  gap: 30px;
  margin: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: $bordr;
  width: 40%;
  .button {
    background: rgba(65, 65, 93, 0);
    color: #000000e4;
    border-radius: $bordr;
    padding: 5px;
    width: 5vw;
    height: 5vh;
    border: none;
    text-align: center;
  }
  .button:hover {
    background-color: $bgcolor;
    color: $fcolor;
  }
}
.arrow-buttons {
  display: flex;
  justify-content: center;
}
