@import "header.scss";

.list {
  display: grid;
  justify-content: space-between;
  align-items: center;
  background-color: $bgcolor;
  border-radius: $bordr;
  max-width: 90vw;
  margin: 60px;

  .list-header {
    display: grid;
    text-align: center;
    padding-left: 20px;
  }
  .list-words {
    display: grid;
    background-color: #ffff;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    border-radius: $bordr;
    padding: 10px;
    margin: 10px;
    .delete {
      max-width: 30vw;
      max-height: 30vh;
    }
    .edit {
      max-width: 30vw;
      max-height: 30vh;
    }
  }
}
