.site{
    font-family:'Roboto Slab', serif;
    display: grid;
    margin: auto;
}
.button{
    display: flex;
    background-color: #5222D0;
    border-radius: 100px;
    font-size: medium;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    padding: 15px;
    width: 10em;
    height: 3em;
    justify-content: center;
    align-self: center;
}
.header{
    display: grid;
    max-width: 100%;
    justify-content:space-around;
    align-items: start;
    grid-template-columns: 50% 50%;
    padding: 30px;
    margin: 20px;
    height: 10vh;
}
.logo{
    display: grid;
}
.upperbutton{
    display: grid;
    justify-content: end;
}
.headline{
    display: grid;
    font-size: 1.5em;
    padding: 20px;
    margin: 30px;
    height: 10vh;
    font-family:'Montserrat',sans-serif;
    font-weight: 600;
}
span{
    display: grid;
    font-weight: 100;
}
.footer{
    display: grid;
    height: 10vh;
    padding: 20px;
    margin: 30px;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-weight:thin;
    color: #5222D0;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.maintext{
    display: grid;
    padding: 30px;
    margin: auto;
}
p{
    font-weight: 100;
    line-height: 2em;
    font-size: 1em;
}
h1{
    font-family:'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 3.5em;
}
.mainbutton{
    display: flex;
    background-color: #5222D0;
    border-radius: 100px;
    font-size: medium;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    padding: 25px;
    width: 10em;
    height: 3em;
    height: 90px;
    width: 270px;
    font-size: 2em;
    justify-content: center;
    align-self: center;
}