$font-main:'Courier New', Courier, monospace;
$second-font-color: #0000;
body{
    display: flex;
    font-family: $font-main;
}
.tarif-card{
    width: 30%;
    margin: 20px;
    padding: 15px;
    gap: 5px;
    display: grid;
    color: aliceblue;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    .name{
        background-color: rgba(2, 37, 39, 0.547);
    }
    .price{
        background-color: rgb(2, 37, 39);
    }
}
.tarif-card.limit{
    color: black;
}
